.Corpodosite{
    color: white;
}

.cabecalho {
    background-image:linear-gradient(gray) gray
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-image:linear-gradient(black,gray);
    
    padding: 200px;
}

.section2 {
    background-image:linear-gradient(gray) gray
    padding: 200px;

}

.cabecalho-imagem{
    width: 30%;
}

.rodape{
    background-image:linear-gradient(gray)  gray
color: white;}
