.cabecalho {
    background-color: royalblue;
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: firebrick;
    padding: 200px;
}

.section2 {
    background-color: goldenrod;
    padding: 200px;
}

.cabecalho-imagem{
    width: 30%;
}

.rodape{
    background-color: black;
color: white;}
