.cabecalho {
    background-image: gray
    color: aliceblue;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-image: gray
    padding: 200px;
}

.section2 {
    background-image: gray
    padding: 200px;
}

.cabecalho-imagem{
    width: 30%;
}

.rodape{
    background-image:  gray
color: white;}
